$lightgreen: #caffbf;
$yellow: #F9FF33;
$red: #FF3333;

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron{
	background-color:$lightgreen;
    @include margenes(50px,10px);
}

.footer{
	padding: 10px 0 10px;
	margin-bottom: 0px;
	margin-top: 10px; 
	background-color:$lightgreen;
}

.serie-style{
	flex: 1 150px;
	padding:2px 5px 2px 5px;
	margin-top: 10px;
}
.btn-serie{
	width:100%;
	border-radius: 0px;
	margin-bottom: 5px;
	

}

.body{
 /*background-color:#caf0f8;*/
}

.card-hotel{
	flex: 1 200px;
	padding: 2px 0px 2px 0px;
	margin-top: 10px;
}