.jumbotron {
  background-color: #caffbf;
  margin-top: 50px;
  margin-bottom: 10px; }

.footer {
  padding: 10px 0 10px;
  margin-bottom: 0px;
  margin-top: 10px;
  background-color: #caffbf; }

.serie-style {
  flex: 1 150px;
  padding: 2px 5px 2px 5px;
  margin-top: 10px; }

.btn-serie {
  width: 100%;
  border-radius: 0px;
  margin-bottom: 5px; }

.body {
  /*background-color:#caf0f8;*/ }

.card-hotel {
  flex: 1 200px;
  padding: 2px 0px 2px 0px;
  margin-top: 10px; }
